footer {
	background: #F1AE9D;
	.container{
	border-left: 10px solid white;
	border-right:10px solid white;
	background:#E7663B;
	color:white;
	padding-bottom:4%;
	height: auto;
		h2{
			font-family: 'beba';
		}
		p{
			font-family: Arial;
			padding:0 4%;
		}
}}
